// common variables for all subpages
$content-top-padding: 75px;
$content-height: calc(100vh - #{$content-top-padding});

$bcg: #fff5d7;
$pink-hover: #ffaaab;
$text-color: #2f1728;
$nav-hover: #ffaaacd3;

@mixin fullCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin btn() {
    background-color: transparent;
    border: 1px solid $text-color;

    &:hover {
        background-color: $pink-hover;
        border: none;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}

.custom-scrollbar {
    $border-radius: 5px;

    // /* width */
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #83777f5d;
        border-radius: $border-radius;
        margin: 12px 0;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #2f17289a;
        border-radius: $border-radius;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: $text-color;
    }
}