// common variables for all subpages
$content-top-padding: 55px;

$bcg: #fff5d7;
$pink-hover: #ffaaab;
$text-color: #2f1728;
$nav-hover: #ffaaacd3;

@mixin fullCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}