.home-page-container {
    max-width: 1000px;
    padding: 0 5vw 80px 5vw;

    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
}

.nnj {
    font-size: 1.2em;
    font-weight: 700;
}

.tab-description {
    margin-bottom: 20px;
    border-bottom: 1px solid #2f17286b;
}

.tab-name {
    font-weight: 700;
    font-style: italic;
    color: #344861;
}