@import '/node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Merienda:700&display=swap');

@import './common-vars.scss';
@import './nav.scss';
@import './alphabetsMain.scss';
@import './quiz.scss';
@import './alphabetTabel.scss';
@import './romajiConverter.scss';
@import './kanjiSearch.scss';
@import './kanjiDetails.scss';
@import './readingAssistant.scss';
@import './homePage.scss';
@import './page404.scss';

* {
    color: $text-color;
}

body {
    font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
    background-color: $bcg;
}

a {
    text-decoration: none;
}

input {
    &[type=checkbox],
    &[type=radio] {
        opacity: 0;
    }
    

    &:focus {
        outline: none;
    }
}

label {
    // text centering
    padding-left: 12px;

    &.checked {
        opacity: 1;
        background-color: $nav-hover;
        border: none;
    }
}

button {
    @include btn();
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
    @include fullCenter();
    padding-top: $content-top-padding;
    min-height: 100vh;
    &>* {
        width: 100%;
    }
}

.spiner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spiner {
    $weight: 5px;
    $size: 50px;
    
    width: $size;
    height: $size;
    background: linear-gradient($text-color, #2f1728d3 50%, $bcg 75%);
    border-radius: 50%;
    animation: spiner .9s linear infinite;

    &::after {
        content: '';
        position: absolute;
        top: $weight;
        left: $weight;
        width: $size - $weight * 2;
        height: $size - $weight * 2;
        background-color: $bcg;
        border-radius: 50%;
    }
}

@keyframes spiner {
    to {
        transform: rotate(360deg);
    }
}

.no-results {
    margin-top: 20vh;
    text-align: center;
    font-size: 30px;
    opacity: .9;
}